@font-face {
    font-family: "Daydream";
    src: url("assets/fonts/Daydream.ttf");
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.sidebar {
    background-image: url("assets/images/dream.jpg");
    background-color: pink;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.titleBG {
    background-color: rgba(64, 30, 75, 0.6);
    width: 100%;
    height: 16vh;
    position: relative;
    top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: calc(64px + 2vw);
    height: calc(64px + 2vw);
    padding-right: 2vw;
}

.title {
    font-size: calc(60px + 2vw);
    color: white;
    font-family: 'Daydream', Arial, Helvetica, sans-serif;
}

.photoSource {
    font-size: 14px;
    color: white;
    margin-bottom: 2vh;
}

.content {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
}

.headerContainer {
    width: 100%;
    height: 30vh;
    background-color: rgb(245, 245, 245);
    color: black;
    font-size: calc(12px + 0.5vw);
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: 30px;
}

p {
    padding: 0 2vw 0 2vw;
    margin: 0;
}

.headerContainer p:last-child {
    padding-top: calc(14px + 0.5vh);
}

.fieldset {
    height: 32vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2vh;
    border: 0;
    padding:0;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -25px;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    margin-right: 12vw;
    margin-left: 2vw;
    gap: 3vw;
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2px;
}

.form-item input[type='text'] {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 100%;
    height: 16px;
}

.form-item input[type='email'] {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 100%;
    height: 16px;
}

.form-item input[type='password'] {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 100%;
    height: 16px;
}

.form-item input, label {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    color: black;
}

label {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 11px;
    color: gray;
    letter-spacing: 0.1em;
}

legend {
    display: none;
}

h2 {
    font-size: calc(12px + 0.5vw);
    font-weight: 600;
    margin-left: 2vw;
    margin-bottom: 8px;
    margin-top: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    width: 35%;
    margin: 50px 0 0 4vw;
    font-size: calc(7px + 0.5vw);
    font-weight: 600;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #c22069;
    color: white;
    border: 3px solid #c22069;
    border-radius: 10px;
}